
.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.search-container {
    display: flex;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.is-read {
    color: green;
}

.not-read {
    color: red;
}


.center {
    text-align: center;
}
